/* =========================================================
   PROGRAM CONTEXT
========================================================= */

.program-scale {
  margin-top: 60px;
}


/* =========================================================
   CONTENTS
========================================================= */

.case-contents {
  margin-top: 60px;
  padding: 42px 48px 48px;
  background: #f5f6f8;
  border-radius: 7px;
}


/* =========================================================
   MY WORK — AT A GLANCE
========================================================= */

.work-scale {
  margin-top: 55px;
}


/* =========================================================
   CASE STUDY SECTIONS
========================================================= */

.case-section {
  padding: 65px 0 10px;
}

.first-case-section {
  padding-top: 70px;
}
